courses/n8n_no_code/book/_static/workflows/05_reflection_pattern.json
{
  "name": "05 — Reflection Pattern (2 Approaches)",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/05_reflection_pattern.html)\n# Reflection Pattern — Two Approaches\n\n**Goal:** Understand the Generate → Critique → Refine loop that powers self-improvement.\n\nThis workflow shows **2 ways** to implement the reflection pattern:\n\n| Version | How it works | When to use |\n|---------|--------------|-------------|\n| **V1: Loop** | Repeats until criteria met (max 5) | When you need control over the loop |\n| **V2: Agent** | AI decides when to stop | When you want simplicity |\n\n**Challenge:** Write a product description with these constraints:\n- Exactly 3 sentences\n- 25–30 words total\n- Contains \"sound\" exactly twice\n- Does NOT contain \"music\" or \"audio\"\n\n**Run both versions** and compare how many iterations each needs!",
        "height": 380,
        "width": 820,
        "color": 4
      },
      "id": "sticky-main",
      "name": "NOTE — Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -480
      ]
    },
    {
      "parameters": {
        "content": "## VERSION 1: Loop with Exit Condition\n**Repeats until criteria met** (max 5 iterations).\n\nFlow: Generate → Validate → Parse → If Done? → Output or loop back\n\nThe If Done? node checks: all_pass OR iteration ≥ 5\n\n✅ Stops when good enough\n✅ Prevents infinite loops (max 5)\n✅ Full control over the process",
        "height": 180,
        "width": 600,
        "color": 5
      },
      "id": "sticky-v1",
      "name": "NOTE — V1 Loop",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -60
      ]
    },
    {
      "parameters": {
        "content": "## VERSION 2: AI Agent\n**Agent decides when to stop** using a Validator tool.\n\nThe agent calls the Validator tool after each draft.\nWhen all constraints pass, it returns the final answer.\n\n✅ Simplest to build\n✅ AI adapts strategy\n❌ Less predictable (may take more iterations)",
        "height": 180,
        "width": 600,
        "color": 6
      },
      "id": "sticky-v2",
      "name": "NOTE — V2 Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        620
      ]
    },

    {
      "parameters": {},
      "id": "trigger-v1",
      "name": "Run: V1 Loop",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "product",
              "name": "product",
              "type": "string",
              "value": "Wireless Bluetooth Headphones"
            },
            {
              "id": "constraints",
              "name": "constraints",
              "type": "string",
              "value": "- Exactly 3 sentences\n- 25–30 words total\n- Contains the word \"sound\" exactly twice\n- Does NOT contain the words \"music\" or \"audio\""
            },
            {
              "id": "iteration",
              "name": "iteration",
              "type": "number",
              "value": 0
            },
            {
              "id": "draft",
              "name": "draft",
              "type": "string",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "id": "input-v1",
      "name": "Input — Product (V1)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        160
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "model-v1",
      "name": "OpenRouter (V1)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -540,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product: {{ $('Input — Product (V1)').first().json.product }}\n\nConstraints:\n{{ $json.constraints }}\n\n{{ $json.draft ? 'Previous draft:\\n' + $json.draft + '\\n\\nImprove the draft to fix the issues.' : 'Write the product description:' }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a product copywriter.\n\nWrite a product description that meets ALL the constraints exactly.\nCount words carefully. Output ONLY the description."
            }
          ]
        },
        "batching": {}
      },
      "id": "generate-v1",
      "name": "Generate/Refine (V1)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -660,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "draft",
              "name": "draft",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "constraints",
              "name": "constraints",
              "type": "string",
              "value": "={{ $('Input — Product (V1)').first().json.constraints }}"
            },
            {
              "id": "iteration",
              "name": "iteration",
              "type": "number",
              "value": "={{ $if($('Parse Validation (V1)').isExecuted, $('Parse Validation (V1)').first().json.iteration, 0) + 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "store-draft-v1",
      "name": "Store Draft (V1)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft:\n{{ $json.draft }}\n\nConstraints:\n{{ $json.constraints }}\n\nValidation report:",
        "messages": {
          "messageValues": [
            {
              "message": "You are a strict validator.\n\nCheck the draft against EACH constraint:\n1. Count sentences (must be exactly 3)\n2. Count words (must be 25–30)\n3. Count occurrences of \"sound\" (must be exactly 2)\n4. Check for forbidden words \"music\" or \"audio\" (must have 0)\n\nReturn a JSON object:\n{\n  \"sentences\": <number>,\n  \"words\": <number>,\n  \"sound_count\": <number>,\n  \"has_forbidden\": <true/false>,\n  \"all_pass\": <true/false>,\n  \"issues\": [\"list of issues if any\"]\n}\n\nReturn ONLY the JSON."
            }
          ]
        },
        "batching": {}
      },
      "id": "validate-v1",
      "name": "Validate (V1)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -220,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "draft",
              "name": "draft",
              "type": "string",
              "value": "={{ $('Store Draft (V1)').first().json.draft }}"
            },
            {
              "id": "constraints",
              "name": "constraints",
              "type": "string",
              "value": "={{ $('Store Draft (V1)').first().json.constraints }}"
            },
            {
              "id": "iteration",
              "name": "iteration",
              "type": "number",
              "value": "={{ $('Store Draft (V1)').first().json.iteration }}"
            },
            {
              "id": "validation_json",
              "name": "validation_json",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "all_pass",
              "name": "all_pass",
              "type": "boolean",
              "value": "={{ /\"all_pass\"\\s*:\\s*true/.test($json.text) }}"
            },
            {
              "id": "done",
              "name": "done",
              "type": "boolean",
              "value": "={{ /\"all_pass\"\\s*:\\s*true/.test($json.text) || $('Store Draft (V1)').first().json.iteration >= 5 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "parse-validation-v1",
      "name": "Parse Validation (V1)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "done",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-done-v1",
      "name": "If Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final_description",
              "name": "final_description",
              "type": "string",
              "value": "={{ $json.draft }}"
            },
            {
              "id": "iterations",
              "name": "iterations",
              "type": "number",
              "value": "={{ $json.iteration }}"
            },
            {
              "id": "approach",
              "name": "approach",
              "type": "string",
              "value": "={{ $json.all_pass ? 'V1: Loop with Exit Condition' : 'V1: Loop (max iterations reached)' }}"
            }
          ]
        },
        "keepOnlySet": true,
        "options": {}
      },
      "id": "output-v1",
      "name": "Output (V1)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "draft",
              "name": "draft",
              "type": "string",
              "value": "={{ $json.draft }}"
            },
            {
              "id": "constraints",
              "name": "constraints",
              "type": "string",
              "value": "={{ $json.constraints }}"
            },
            {
              "id": "iteration",
              "name": "iteration",
              "type": "number",
              "value": "={{ $json.iteration }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-refine-v1",
      "name": "Prepare Refine (V1)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        160
      ]
    },

    {
      "parameters": {},
      "id": "trigger-v2",
      "name": "Run: V2 Agent",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "product",
              "name": "product",
              "type": "string",
              "value": "Wireless Bluetooth Headphones"
            },
            {
              "id": "constraints",
              "name": "constraints",
              "type": "string",
              "value": "- Exactly 3 sentences\n- 25–30 words total\n- Contains the word \"sound\" exactly twice\n- Does NOT contain the words \"music\" or \"audio\""
            }
          ]
        },
        "options": {}
      },
      "id": "input-v2",
      "name": "Input — Product (V2)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        840
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "model-v2",
      "name": "OpenRouter (V2)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -760,
        1080
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product: {{ $json.product }}\n\nConstraints:\n{{ $json.constraints }}\n\nWrite a product description that meets ALL constraints. After writing, use the Validator tool to check it. Keep refining until all constraints pass.",
        "options": {
          "systemMessage": "You are a product copywriter who writes precise descriptions.\n\nProcess:\n1. Write a draft description\n2. Use the Validator tool to check it (send ONLY the description text)\n3. Read the issues list in the Validator response to see what failed\n4. Revise the draft to fix those specific issues\n5. Validate again — repeat until all_pass is true\n6. Return ONLY the final description\n\nRules:\n- Do NOT count words yourself — rely on the Validator tool\n- Send ONLY the description to the Validator (no extra text like \"Here is my draft:\")\n- Call the Validator at most 5 times\n- When all_pass is true, return ONLY the final description",
          "maxIterations": 10
        }
      },
      "id": "agent-v2",
      "name": "Reflection Agent (V2)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -580,
        840
      ]
    },
    {
      "parameters": {
        "name": "Validator",
        "description": "Validates a product description against constraints. Input: the description text only (no extra text). Returns JSON with: sentences (count), words (count), sound_count, has_forbidden, all_pass (true/false), and issues (list of specific problems to fix).",
        "language": "javaScript",
        "jsCode": "// Get the raw input from the agent\nconst item = $input.first().json;\n\n// Try common field names (varies by n8n version)\nlet description = '';\nfor (const key of ['query', 'input', 'chatInput', 'action_input']) {\n  if (item[key]) {\n    description = String(item[key]).trim();\n    break;\n  }\n}\n\n// Fallback: use the first non-empty string value\nif (!description) {\n  for (const [k, v] of Object.entries(item)) {\n    if (typeof v === 'string' && v.trim()) {\n      description = v.trim();\n      break;\n    }\n  }\n}\n\n// Count sentences (split by . ! ?)\nconst sentences = description.split(/[.!?]+/).filter(s => s.trim());\nconst sentenceCount = sentences.length;\n\n// Count words\nconst words = description.split(/\\s+/).filter(w => w);\nconst wordCount = words.length;\n\n// Count \"sound\" occurrences (case insensitive, whole word)\nconst soundMatches = description.toLowerCase().match(/\\bsound\\b/g) || [];\nconst soundCount = soundMatches.length;\n\n// Check for forbidden words\nconst hasForbidden = /\\b(music|audio)\\b/i.test(description);\n\n// Build issues list\nconst issues = [];\nif (sentenceCount !== 3) issues.push(`Sentences: ${sentenceCount} (need exactly 3)`);\nif (wordCount < 25 || wordCount > 30) issues.push(`Words: ${wordCount} (need 25-30)`);\nif (soundCount !== 2) issues.push(`\\\"sound\\\" count: ${soundCount} (need exactly 2)`);\nif (hasForbidden) issues.push('Contains forbidden word: \\\"music\\\" or \\\"audio\\\"');\n\nconst allPass = issues.length === 0;\n\n// Agent tools must return a string, not [{json: ...}]\nreturn JSON.stringify({\n  input_received: description.slice(0, 200),\n  sentences: sentenceCount,\n  words: wordCount,\n  sound_count: soundCount,\n  has_forbidden: hasForbidden,\n  all_pass: allPass,\n  issues: allPass ? ['All constraints passed!'] : issues\n});"
      },
      "id": "validator-tool-v2",
      "name": "Validator Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        -560,
        1080
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final_description",
              "name": "final_description",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "approach",
              "name": "approach",
              "type": "string",
              "value": "V2: AI Agent with Validator Tool"
            }
          ]
        },
        "keepOnlySet": true,
        "options": {}
      },
      "id": "output-v2",
      "name": "Output (V2)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        840
      ]
    }
  ],
  "connections": {
    "Run: V1 Loop": {
      "main": [
        [
          {
            "node": "Input — Product (V1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input — Product (V1)": {
      "main": [
        [
          {
            "node": "Generate/Refine (V1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate/Refine (V1)": {
      "main": [
        [
          {
            "node": "Store Draft (V1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Draft (V1)": {
      "main": [
        [
          {
            "node": "Validate (V1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate (V1)": {
      "main": [
        [
          {
            "node": "Parse Validation (V1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Validation (V1)": {
      "main": [
        [
          {
            "node": "If Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Done?": {
      "main": [
        [
          {
            "node": "Output (V1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Refine (V1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Refine (V1)": {
      "main": [
        [
          {
            "node": "Generate/Refine (V1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (V1)": {
      "ai_languageModel": [
        [
          {
            "node": "Generate/Refine (V1)",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Validate (V1)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },

    "Run: V2 Agent": {
      "main": [
        [
          {
            "node": "Input — Product (V2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input — Product (V2)": {
      "main": [
        [
          {
            "node": "Reflection Agent (V2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reflection Agent (V2)": {
      "main": [
        [
          {
            "node": "Output (V2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (V2)": {
      "ai_languageModel": [
        [
          {
            "node": "Reflection Agent (V2)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Validator Tool": {
      "ai_tool": [
        [
          {
            "node": "Reflection Agent (V2)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
