courses/n8n_no_code/book/_static/workflows/08_prompt_engineering_comparison.json
{
  "name": "08 — Prompt Engineering Comparison",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/appendix_d_prompt_engineering.html)\n## Prompt Engineering Comparison\n**Goal:** See how different prompt techniques improve AI responses.\n\n**How to use:**\n1. Click the Manual Trigger\n2. Run the workflow\n3. Compare the 4 outputs side by side\n\n**Try these test messages:**\n- \"I was charged twice for my order\"\n- \"How do I reset my password?\"\n- \"Your product is amazing!\"\n- \"asdfghjkl\" (gibberish)",
        "height": 320,
        "width": 420,
        "color": 3
      },
      "id": "sticky-main",
      "name": "NOTE — Prompt Engineering",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, 200]
    },
    {
      "parameters": {},
      "id": "trigger",
      "name": "Run: Compare Prompts",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-100, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "I was charged twice for my order last week"
            }
          ]
        },
        "options": {}
      },
      "id": "set-message",
      "name": "Input — Test Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [140, 400]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [140, 620]
    },
    {
      "parameters": {
        "content": "## V1: Basic Prompt\nNo context, no format.\nOften gives long explanations.",
        "height": 120,
        "width": 280,
        "color": 4
      },
      "id": "sticky-v1",
      "name": "Note V1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, -80]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "Classify this customer message:"
            }
          ]
        },
        "batching": {}
      },
      "id": "v1-basic",
      "name": "V1 — Basic",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [500, 40]
    },
    {
      "parameters": {
        "content": "## V2: + Role & Structure\nAdds role and output format.\nMore consistent.",
        "height": 120,
        "width": 280,
        "color": 5
      },
      "id": "sticky-v2",
      "name": "Note V2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, 220]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a customer support classifier for an e-commerce company.\n\nCategorize messages into exactly ONE category:\n- BILLING (payments, charges, refunds, invoices)\n- TECHNICAL (login issues, bugs, how-to questions)\n- FEEDBACK (compliments, complaints, suggestions)\n- GENERAL (everything else)\n\nRespond with ONLY the category name. No explanations."
            }
          ]
        },
        "batching": {}
      },
      "id": "v2-role",
      "name": "V2 — Role + Structure",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [500, 340]
    },
    {
      "parameters": {
        "content": "## V3: + Few-Shot Examples\nShows examples of expected output.\nHandles ambiguous cases better.",
        "height": 120,
        "width": 280,
        "color": 6
      },
      "id": "sticky-v3",
      "name": "Note V3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, 520]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a customer support classifier for an e-commerce company.\n\nCategorize messages into exactly ONE category:\n- BILLING (payments, charges, refunds, invoices)\n- TECHNICAL (login issues, bugs, how-to questions)\n- FEEDBACK (compliments, complaints, suggestions)\n- GENERAL (everything else)\n\nExamples:\n\nMessage: \"I was charged $50 but my order was only $30\"\nCategory: BILLING\n\nMessage: \"The app crashes when I try to checkout\"\nCategory: TECHNICAL\n\nMessage: \"I love your new website design!\"\nCategory: FEEDBACK\n\nMessage: \"What are your store hours?\"\nCategory: GENERAL\n\nMessage: \"I need a refund and the website won't load\"\nCategory: BILLING\n\nRespond with ONLY the category name."
            }
          ]
        },
        "batching": {}
      },
      "id": "v3-fewshot",
      "name": "V3 — Few-Shot",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [500, 640]
    },
    {
      "parameters": {
        "content": "## V4: + Edge Cases\nHandles uncertainty and invalid input.\nProduction-ready.",
        "height": 120,
        "width": 280,
        "color": 2
      },
      "id": "sticky-v4",
      "name": "Note V4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [440, 820]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a customer support classifier for an e-commerce company.\n\nCategorize messages into exactly ONE category:\n- BILLING (payments, charges, refunds, invoices)\n- TECHNICAL (login issues, bugs, how-to questions)\n- FEEDBACK (compliments, complaints, suggestions)\n- GENERAL (everything else)\n\nExamples:\n\nMessage: \"I was charged $50 but my order was only $30\"\nCategory: BILLING\n\nMessage: \"The app crashes when I try to checkout\"\nCategory: TECHNICAL\n\nMessage: \"I love your new website design!\"\nCategory: FEEDBACK\n\nMessage: \"What are your store hours?\"\nCategory: GENERAL\n\nMessage: \"I need a refund and the website won't load\"\nCategory: BILLING\n\nEdge cases:\n- If multiple issues, classify by PRIMARY concern (usually first)\n- If empty, gibberish, or unrelated: GENERAL [INVALID]\n- If uncertain between categories: pick most likely + [LOW CONFIDENCE]\n\nRespond with ONLY the category name (and optional flag)."
            }
          ]
        },
        "batching": {}
      },
      "id": "v4-production",
      "name": "V4 — Production",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [500, 940]
    }
  ],
  "connections": {
    "Run: Compare Prompts": {
      "main": [
        [
          {
            "node": "Input — Test Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input — Test Message": {
      "main": [
        [
          {
            "node": "V1 — Basic",
            "type": "main",
            "index": 0
          },
          {
            "node": "V2 — Role + Structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "V3 — Few-Shot",
            "type": "main",
            "index": 0
          },
          {
            "node": "V4 — Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "V1 — Basic",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "V2 — Role + Structure",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "V3 — Few-Shot",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "V4 — Production",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
