courses/n8n_no_code/book/_static/workflows/10_recipe_assistant.json
{
  "name": "10 — Recipe Assistant",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/project_1_recipe_assistant.html)\n## Recipe Assistant\n**Goal:** Chat with an AI that searches real recipes online, review them via a form, and optionally generate a shopping list with real price estimates.\n\n**Tools:** Recipe Search (TheMealDB API) + Google Search (SerpAPI fallback) + Price Search (SerpAPI)\n**Memory:** Conversation history so you can ask follow-up questions.\n**Approval:** A form lets you review the recipe and choose whether to generate a shopping list.\n\n**How to run:** Click **Chat** in the bottom-right corner and type your request. Then open the form URL shown in the Wait node.",
        "height": 340,
        "width": 700,
        "color": 4
      },
      "id": "a0000001-0001-4000-8000-000000000001",
      "name": "NOTE — Recipe Assistant",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-880, -560]
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "a0000001-0001-4000-8000-000000000002",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-760, -200],
      "webhookId": "a0000001-0001-4000-8000-00000000cc01"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a friendly recipe assistant that helps users find recipes.\n\nSearching for recipes:\n1. Convert the user's request to a simple English search term for the tool (e.g. \"quiero pollo\" → search for \"chicken\", \"pasta con tomate\" → search for \"tomato pasta\")\n2. Use Recipe Search (TheMealDB) first — it returns structured, reliable data\n3. Only use Google Search if TheMealDB returns no results (meals is null)\n\nPresenting recipes — use this format:\nRECIPE: [name]\nCategory: [category] | Cuisine: [cuisine]\n\nINGREDIENTS:\n- [quantity] [ingredient]\n- [quantity] [ingredient]\n...\n\nINSTRUCTIONS:\n1. [step]\n2. [step]\n...\n\nRules:\n- Never invent recipes — only present what you find from tools\n- Include ALL ingredients with exact quantities from the source\n- If no results, suggest alternative search terms"
        }
      },
      "id": "a0000001-0001-4000-8000-000000000005",
      "name": "Recipe Search Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-400, -200]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Recipe Found",
        "formDescription": "The agent found a recipe. Review it below and choose whether to generate a shopping list with price estimates.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Recipe",
              "fieldType": "html",
              "html": "=<pre style='white-space:pre-wrap;max-height:500px;overflow-y:auto;background:#f8f9fa;padding:16px;border-radius:8px;font-family:system-ui,sans-serif;font-size:14px;line-height:1.6;border:1px solid #dee2e6;'>{{ $json.output }}</pre>"
            },
            {
              "fieldLabel": "Generate shopping list?",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Yes, with price estimates" },
                  { "option": "No, just the recipe" }
                ]
              }
            }
          ]
        },
        "options": {
          "buttonLabel": "Continue"
        }
      },
      "id": "a0000001-0001-4000-8000-000000000006",
      "name": "Review Recipe",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-60, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "a0000001-0001-4000-8000-000000000007",
              "leftValue": "={{ $json[\"Generate shopping list?\"] }}",
              "rightValue": "Yes, with price estimates",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000008",
      "name": "Want Prices?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, -200]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Recipe Search Agent').first().json.output }}",
        "options": {
          "systemMessage": "You are a shopping assistant that creates shopping lists with real prices.\n\nFrom the recipe provided, create a complete shopping list with current US grocery prices.\n\nSteps:\n1. Extract the ingredient list from the recipe\n2. Search for current grocery prices — batch multiple ingredients into ONE search query (e.g. \"grocery store prices chicken breast tomatoes onions 2025\")\n3. Use at most 2 searches total to conserve API usage\n4. For any ingredient you cannot find a price for, estimate based on your knowledge and mark it with ≈\n\nFormat:\n## Shopping List\n\n### Produce\n- [quantity] [item] — ~$[price]\n\n### Meat / Fish\n- [quantity] [item] — ~$[price]\n\n### Dairy\n- [quantity] [item] — ~$[price]\n\n### Pantry\n- [quantity] [item] — ~$[price]\n\n---\n**Estimated Total: ~$[total]**\n\nBudget Tips:\n- [tip 1]\n- [tip 2]\n\nRules:\n- Include exact quantities from the recipe\n- Skip items most kitchens already have (salt, pepper, cooking oil)\n- Group items by store section\n- Mark searched prices with $ and estimated prices with ≈$\n- Output ONLY the shopping list — no recipe repetition"
        }
      },
      "id": "a0000001-0001-4000-8000-000000000009",
      "name": "Shopping List Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [440, -350]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0000001-0001-4000-8000-000000000010",
              "name": "output",
              "type": "string",
              "value": "={{ $('Recipe Search Agent').first().json.output + '\\n\\n---\\n\\n' + $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000012",
      "name": "Output — With Prices",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, -350]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0000001-0001-4000-8000-000000000013",
              "name": "output",
              "type": "string",
              "value": "={{ $('Recipe Search Agent').first().json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000014",
      "name": "Output — Recipe Only",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, -50]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000015",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-560, 40]
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "a0000001-0001-4000-8000-000000000019",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-400, 40]
    },
    {
      "parameters": {
        "url": "https://www.themealdb.com/api/json/v1/1/search.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "s",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', 'The recipe search term in English, a simple food keyword like chicken or pasta', 'string') }}"
            }
          ]
        },
        "toolDescription": "Search for recipes by name or ingredient on TheMealDB. Input should be a simple English search term like 'chicken' or 'pasta'. Returns recipe details including name, ingredients with quantities, and cooking instructions. If the response contains meals:null, it means no recipes were found — try Google Search instead.",
        "optimizeResponse": true,
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000016",
      "name": "Recipe Search",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [-240, 40]
    },
    {
      "parameters": {},
      "id": "a0000001-0001-4000-8000-000000000017",
      "name": "Google Search",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [-80, 40]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000018",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [440, -150]
    },
    {
      "parameters": {},
      "id": "a0000001-0001-4000-8000-000000000020",
      "name": "Price Search",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [600, -150]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Recipe Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Search Agent": {
      "main": [
        [
          {
            "node": "Review Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Recipe": {
      "main": [
        [
          {
            "node": "Want Prices?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Want Prices?": {
      "main": [
        [
          {
            "node": "Shopping List Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output — Recipe Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopping List Agent": {
      "main": [
        [
          {
            "node": "Output — With Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recipe Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Recipe Search Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Search": {
      "ai_tool": [
        [
          {
            "node": "Recipe Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Recipe Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Shopping List Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Price Search": {
      "ai_tool": [
        [
          {
            "node": "Shopping List Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
