courses/n8n_no_code/book/_static/workflows/10_recipe_assistant.json
{
  "name": "10 — Recipe Assistant",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/project_1_recipe_assistant.html)\n## Recipe Assistant\n**Goal:** Chat with an AI that searches real recipes online. It proposes ONE recipe, lets you refine it (\"another one\", \"more Western\"), and — when you confirm — builds a shopping list with real price estimates.\n\n**How it works:** the agent returns a small JSON every turn — `reply`, `recipe`, `build_shopping_list`. An **IF** reads `build_shopping_list` and only then runs the price agent. No forms, no waiting.\n\n**Tools:** Recipe Search (TheMealDB) + Google Search (SerpAPI fallback) + Price Search (SerpAPI)\n**Memory:** Conversation history so you can refine across turns.\n\n**How to run:** Click **Open Chat** and type a request (e.g. \"I want a chicken recipe\"). Reply in the chat to pick a recipe or ask for the shopping list.",
        "height": 360,
        "width": 720,
        "color": 4
      },
      "id": "a0000001-0001-4000-8000-000000000001",
      "name": "NOTE — Recipe Assistant",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        -560
      ]
    },
    {
      "parameters": {
        "public": false,
        "mode": "hostedChat",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "a0000001-0001-4000-8000-000000000002",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -760,
        -200
      ],
      "webhookId": "a0000001-0001-4000-8000-00000000cc01"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a friendly recipe assistant. You chat with the user to find ONE recipe they like, then optionally build a shopping list with real prices.\n\nHow to search:\n- Convert the user's request to a simple English search term (e.g. \"quiero pollo\" → \"chicken\").\n- Use Recipe Search (TheMealDB) first. Only use Google Search if TheMealDB returns meals: null.\n\nHow to behave in the conversation:\n- Present ONE recipe at a time — the best match — never a list. If the search returns several, pick one and say you can suggest another if they prefer.\n- After showing a recipe, ALWAYS ask whether they want THIS recipe, a DIFFERENT one, or a SHOPPING LIST with price estimates.\n- If the user asks for a different or more specific recipe (e.g. \"something more Western\", \"vegetarian\"), search again and propose a new one.\n- Only offer the shopping list once you have shown a real recipe.\n\nYou ALWAYS answer with these three fields:\n- \"reply\": a SHORT, friendly message the user sees. Introduce the recipe by name and ask the question above. Do NOT paste the full ingredient list or steps here — those go in \"recipe\".\n- \"recipe\": the full recipe in this exact plain format:\n    RECIPE: [name]\n    Category: [category] | Cuisine: [cuisine]\n    INGREDIENTS:\n    - [quantity] [ingredient]\n    INSTRUCTIONS:\n    1. [step]\n  Always keep the CURRENT proposed recipe here, even on later turns. Use an empty string only if you have not proposed a recipe yet.\n- \"build_shopping_list\": true ONLY when the user has confirmed a recipe AND asked for the shopping list or prices. Otherwise false.\n\nRules:\n- Never invent recipes — only present what you find from the tools.\n- Include ALL ingredients with exact quantities from the source.\n- Output valid JSON only — no markdown code fences, no text before or after."
        }
      },
      "id": "a0000001-0001-4000-8000-000000000005",
      "name": "Recipe Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -380,
        -200
      ]
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"reply\": \"Here's a great option \\u2014 Chicken Handi (Indian). Would you like this recipe, a different one, or a shopping list with price estimates?\",\n  \"recipe\": \"RECIPE: Chicken Handi\\nCategory: Chicken | Cuisine: Indian\\nINGREDIENTS:\\n- 500g chicken\\n- 2 onions\\n- 3 tomatoes\\nINSTRUCTIONS:\\n1. Saut\\u00e9 the onions\\n2. Add spices and chicken\\n3. Simmer with tomatoes\",\n  \"build_shopping_list\": false\n}",
        "autoFix": true
      },
      "id": "a0000001-0001-4000-8000-000000000021",
      "name": "Recipe Format",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -80,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0000001-0001-4000-8000-000000000007",
              "leftValue": "={{ $json.output.build_shopping_list }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000008",
      "name": "Want Prices?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        40,
        -200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.recipe }}",
        "options": {
          "systemMessage": "You are a shopping assistant that creates shopping lists with real prices.\n\nFrom the recipe provided, create a complete shopping list with current US grocery prices.\n\nSteps:\n1. Extract the ingredient list from the recipe\n2. Search for current grocery prices — batch multiple ingredients into ONE search query (e.g. \"grocery store prices chicken breast tomatoes onions\")\n3. Use at most 2 searches total to conserve API usage\n4. For any ingredient you cannot find a price for, estimate based on your knowledge and mark it with ≈\n\nFormat:\n## Shopping List\n\n### Produce\n- [quantity] [item] — ~$[price]\n\n### Meat / Fish\n- [quantity] [item] — ~$[price]\n\n### Dairy\n- [quantity] [item] — ~$[price]\n\n### Pantry\n- [quantity] [item] — ~$[price]\n\n---\n**Estimated Total: ~$[total]**\n\nBudget Tips:\n- [tip 1]\n- [tip 2]\n\nRules:\n- Include exact quantities from the recipe\n- Skip items most kitchens already have (salt, pepper, cooking oil)\n- Group items by store section\n- Mark searched prices with $ and estimated prices with ≈$\n- Output ONLY the shopping list — no recipe repetition"
        }
      },
      "id": "a0000001-0001-4000-8000-000000000009",
      "name": "Shopping List Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        300,
        -340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0000001-0001-4000-8000-000000000010",
              "name": "output",
              "type": "string",
              "value": "={{ $('Recipe Agent').first().json.output.recipe + '\\n\\n---\\n\\n' + $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000012",
      "name": "Reply — With Prices",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0000001-0001-4000-8000-000000000013",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output.recipe ? $json.output.recipe + '\\n\\n' + $json.output.reply : $json.output.reply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000014",
      "name": "Reply — Recipe Only",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        -40
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000015",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        40
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "a0000001-0001-4000-8000-000000000019",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -440,
        40
      ]
    },
    {
      "parameters": {
        "url": "https://www.themealdb.com/api/json/v1/1/search.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "s",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', 'The recipe search term in English, a simple food keyword like chicken or pasta', 'string') }}"
            }
          ]
        },
        "toolDescription": "Search for recipes by name or ingredient on TheMealDB. Input should be a simple English search term like 'chicken' or 'pasta'. Returns recipe details including name, ingredients with quantities, and cooking instructions. If the response contains meals:null, it means no recipes were found — try Google Search instead.",
        "optimizeResponse": true,
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000016",
      "name": "Recipe Search",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -320,
        40
      ]
    },
    {
      "parameters": {},
      "id": "a0000001-0001-4000-8000-000000000017",
      "name": "Google Search",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -200,
        40
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a0000001-0001-4000-8000-000000000018",
      "name": "OpenRouter Chat Model (Prices)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        300,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "a0000001-0001-4000-8000-000000000020",
      "name": "Price Search",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        460,
        -140
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Recipe Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Agent": {
      "main": [
        [
          {
            "node": "Want Prices?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Want Prices?": {
      "main": [
        [
          {
            "node": "Shopping List Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply — Recipe Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopping List Agent": {
      "main": [
        [
          {
            "node": "Reply — With Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recipe Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Recipe Format",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Recipe Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Search": {
      "ai_tool": [
        [
          {
            "node": "Recipe Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Recipe Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Format": {
      "ai_outputParser": [
        [
          {
            "node": "Recipe Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model (Prices)": {
      "ai_languageModel": [
        [
          {
            "node": "Shopping List Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Price Search": {
      "ai_tool": [
        [
          {
            "node": "Shopping List Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
