courses/n8n_no_code/book/_static/workflows/10b_recipe_assistant.json
{
  "name": "10b — Recipe Assistant (Orchestrator Agent)",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/10_recipe_assistant.html#workflow-2-recipe-assistant-orchestrator)\n## Recipe Assistant (Orchestrator Agent)\n**Goal:** An agent that searches for real recipes online and delegates shopping list creation to a sub-workflow.\n\n**Tools:**\n- **Recipe Search** (HTTP Request) — searches TheMealDB API\n- **Shopping List Generator** (Call n8n Workflow) — invokes the Shopping List Agent sub-workflow\n\n**How to run:** Click **Run: Recipe Assistant** and edit the request in the Input node.",
        "height": 260,
        "width": 700,
        "color": 4
      },
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000001",
      "name": "NOTE — Recipe Assistant",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        -540
      ]
    },
    {
      "parameters": {},
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000002",
      "name": "Run: Recipe Assistant",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-2222-4bbb-cccc-200000000003",
              "name": "chatInput",
              "type": "string",
              "value": "I want to cook something with chicken"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000004",
      "name": "Input — Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        -200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a friendly recipe assistant.\n\nProcess:\n1. Use Recipe Search to find a recipe matching the user's request\n2. Present the recipe clearly (name, ingredients, instructions)\n3. Use Shopping List Generator to create a shopping list with cost estimate\n\nRules:\n- Always search first — never invent recipes\n- After finding a recipe, always generate a shopping list + cost\n- If no results, suggest alternative search terms\n- Keep your response friendly and organized"
        }
      },
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000005",
      "name": "Recipe Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -240,
        -200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-2222-4bbb-cccc-200000000006",
              "name": "answer",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000007",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -200
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000008",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -360,
        40
      ]
    },
    {
      "parameters": {
        "name": "Recipe Search",
        "description": "Search for recipes by name or ingredient. Input should be a search term like 'chicken' or 'pasta'. Returns recipe details including name, ingredients, and instructions.",
        "method": "GET",
        "url": "https://www.themealdb.com/api/json/v1/1/search.php",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "values": [
            {
              "name": "s",
              "value": "{query}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "The recipe search term (e.g. 'chicken', 'pasta', 'chocolate cake')"
            }
          ]
        },
        "optimizeResponse": true
      },
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000009",
      "name": "Recipe Search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -140,
        40
      ]
    },
    {
      "parameters": {
        "name": "Shopping List Generator",
        "description": "Generate a shopping list with cost estimates from a recipe. Input should be the full recipe text including ingredients and instructions.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "fields": {
          "values": [
            {
              "name": "recipe_text",
              "stringValue": "{recipe_text}"
            }
          ]
        }
      },
      "id": "b1c2d3e4-2222-4bbb-cccc-200000000010",
      "name": "Shopping List Generator",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        60,
        40
      ]
    }
  ],
  "connections": {
    "Run: Recipe Assistant": {
      "main": [
        [
          {
            "node": "Input — Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input — Request": {
      "main": [
        [
          {
            "node": "Recipe Assistant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Assistant Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Recipe Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recipe Search": {
      "ai_tool": [
        [
          {
            "node": "Recipe Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopping List Generator": {
      "ai_tool": [
        [
          {
            "node": "Recipe Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
