courses/n8n_no_code/book/_static/workflows/11_ask_your_data.json
{
  "name": "11 — Ask Your Data (Spotify)",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/project_2_ask_your_data.html)\n## Ask Your Data (Spotify)\n\n**Goal:** Ask questions in plain English; the agent **writes and runs JavaScript** against the Spotify dataset and answers. This is *programmatic tool calling* — you give the agent a code interpreter (the same idea behind coding agents like Claude Code).\n\n### Credentials needed\n- **OpenRouter API key** (Settings → Credentials)\n- The dataset CSV loads from a public URL — no key.\n\n### How it works\n- The **run_javascript** Code Tool loads the CSV once into a `data` array, then runs the JS the agent writes and returns whatever it `console.log()`s.\n- The agent only writes the analysis — it doesn't fetch or parse anything.\n\n### How to use\n1. Click **Chat** and ask e.g. *Which song has the most streams?*\n2. Open the **Data Analyst Agent** → Logs to see the JS it wrote and the printed result.\n",
        "height": 420,
        "width": 760,
        "color": 4
      },
      "id": "c1000000-0000-4000-8000-000000000001",
      "name": "NOTE — Ask Your Data",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -820,
        -360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c1000000-0000-4000-8000-000000000002",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a data analyst. You answer questions about a Spotify dataset by writing JavaScript.\n\nYou have one tool: run_javascript. The dataset is ALREADY loaded inside it as a variable `data` — an array of ~953 song objects. You do NOT load any file or fetch anything. You write JavaScript that analyzes `data` and prints the answer with console.log().\n\n## The `data` array\nEach element is an object. ALL values are strings — convert numbers with Number(...). Keys:\n- track_name, artist(s)_name, artist_count, released_year, released_month, released_day\n- in_spotify_playlists, in_spotify_charts, streams  (streams is a large number stored as a string)\n- in_apple_playlists, in_apple_charts, in_deezer_playlists, in_deezer_charts, in_shazam_charts\n- bpm, key, mode, danceability_%, valence_%, energy_%, acousticness_%, instrumentalness_%, liveness_%, speechiness_%\n\nUse bracket notation for keys with special characters: row['artist(s)_name'], row['danceability_%'].\n\n## Sample (first row)\n{ \"track_name\": \"Seven (feat. Latto) (Explicit Ver.)\", \"artist(s)_name\": \"Latto, Jung Kook\", \"artist_count\": \"2\", \"released_year\": \"2023\", \"streams\": \"141381703\", \"bpm\": \"125\", \"key\": \"B\", \"mode\": \"Major\", \"danceability_%\": \"80\" }\n\n## Rules\n1. All values are strings — convert with Number(row['streams']) before doing math.\n2. Use bracket notation for keys with special characters: row['artist(s)_name'], row['danceability_%'].\n3. ALWAYS print the final answer with console.log() as a short, readable sentence — never the raw array.\n4. If a question cannot be answered with these fields, say so clearly (there is no genre column and no song-duration column).\n5. Keep the code simple and correct. Do NOT fetch anything — `data` is already loaded."
        }
      },
      "id": "c1000000-0000-4000-8000-000000000003",
      "name": "Data Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -500,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "output",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1000000-0000-4000-8000-000000000004",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        40
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "c1000000-0000-4000-8000-000000000005",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -540,
        280
      ]
    },
    {
      "parameters": {
        "name": "run_javascript",
        "description": "Runs JavaScript to analyze the Spotify dataset. The dataset is already loaded as `data` (an array of ~953 song objects). Write JS that computes the answer and prints it with console.log(). Returns whatever you console.log(). Do not fetch or load anything.",
        "language": "javaScript",
        "jsCode": "// Code interpreter: the dataset is loaded once, then the agent's JavaScript runs against it.\n// The agent passes its code as the tool input (`query`); we eval it with `data` in scope\n// and return whatever it prints with console.log().\n\n// 1) Get the agent's code (the tool input)\nlet code = (typeof query !== 'undefined' && query) ? String(query) : '';\nif (!code) {\n  try { const item = $input.first().json; code = item.query || item.code || item.input || ''; } catch (e) {}\n}\n\n// 2) Load the dataset once (CSV -> array of row objects)\nconst CSV_URL = 'https://raw.githubusercontent.com/zero-to-mastery/file-io/main/spotify-2023.csv';\nconst csvText = String(await this.helpers.httpRequest({ url: CSV_URL, json: false }));\n\nfunction parseCSV(text) {\n  const rows = [];\n  let row = [], field = '', inQ = false;\n  for (let i = 0; i < text.length; i++) {\n    const c = text[i];\n    if (inQ) {\n      if (c === '\"' && text[i + 1] === '\"') { field += '\"'; i++; }\n      else if (c === '\"') { inQ = false; }\n      else { field += c; }\n    } else {\n      if (c === '\"') { inQ = true; }\n      else if (c === ',') { row.push(field); field = ''; }\n      else if (c === '\\n') { row.push(field); rows.push(row); row = []; field = ''; }\n      else if (c === '\\r') { /* ignore */ }\n      else { field += c; }\n    }\n  }\n  if (field.length || row.length) { row.push(field); rows.push(row); }\n  return rows;\n}\n\nconst matrix = parseCSV(csvText);\nconst headers = matrix[0];\nconst data = matrix.slice(1)\n  .filter(r => r.length === headers.length)\n  .map(r => { const o = {}; headers.forEach((h, i) => { o[h] = r[i]; }); return o; });\n\n// 3) Run the agent's code, capturing console.log output\nconst logs = [];\nconst console = { log: (...a) => logs.push(a.map(x => (typeof x === 'object' ? JSON.stringify(x) : String(x))).join(' ')) };\n\ntry {\n  eval(code);\n} catch (e) {\n  return 'ERROR running your code: ' + e.message + '\\nRemember: `data` is the array of song objects; print the answer with console.log().';\n}\n\nreturn logs.length ? logs.join('\\n') : '(no output — remember to console.log() your final answer)';\n"
      },
      "id": "c1000000-0000-4000-8000-000000000006",
      "name": "run_javascript",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 2,
      "position": [
        -360,
        280
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Data Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Analyst Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Data Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "run_javascript": {
      "ai_tool": [
        [
          {
            "node": "Data Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}