courses/n8n_no_code/book/_static/workflows/14_rag_faq_bot.json
{
  "name": "14 — RAG FAQ Bot",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/09_rag.html#hands-on-faq-bot-with-rag)\n## RAG FAQ Bot\n\n**Goal:** A FAQ bot that answers questions using only its knowledge base.\n\n### Credentials needed\n- **OpenRouter API key** (for the chat model)\n- **Google Gemini API key** (for embeddings) — free from [ai.google.dev](https://ai.google.dev)\n\n### How to use\n1. Click **Execute Workflow** to load the FAQ into the vector store\n2. Then click the **Chat** button to ask questions\n3. Data resets when n8n restarts (in-memory)\n\n### Try these questions\n1. `What is the refund policy?`\n2. `Do you have student discounts?`\n3. `What is the meaning of life?` (not in FAQ — should say it doesn't know)",
        "height": 300,
        "width": 780,
        "color": 4
      },
      "id": "a0a0a0a0-0001-4000-a000-000000000001",
      "name": "NOTE — RAG FAQ Bot",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-880, -320],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-860, 60],
      "id": "a0a0a0a0-0002-4000-a000-000000000002",
      "name": "Load FAQ (run first)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faq-text-001",
              "name": "text",
              "value": "DataLearn Company FAQ\n\nQ: What are your business hours?\nA: Monday to Friday, 9 AM to 6 PM CET. Closed on Spanish public holidays. Support chat is available 24/7 for Premium plan users.\n\nQ: How do I reset my password?\nA: Go to Settings > Security > Change Password. You will receive a confirmation email within 5 minutes. If you do not receive it, check your spam folder or contact support.\n\nQ: What is your refund policy?\nA: Full refund within 30 days of purchase, no questions asked. Between 30 and 90 days, we offer 50% credit toward future purchases. No refunds after 90 days.\n\nQ: How do I contact support?\nA: Email support@datalearn.com or use the chat widget on our website. Average response time is under 2 hours during business hours. Premium users get priority support with a 30-minute response guarantee.\n\nQ: What payment methods do you accept?\nA: Visa, Mastercard, American Express, PayPal, and SEPA bank transfers. All prices are in EUR. Annual plans receive a 20% discount compared to monthly billing.\n\nQ: Do you offer student discounts?\nA: Yes, students get 40% off all annual plans with a valid university email address (.edu or equivalent). The discount renews automatically each year while the student email remains active.\n\nQ: How do I cancel my subscription?\nA: Go to Settings > Billing > Cancel Subscription. Your access continues until the end of the current billing period. There are no cancellation fees. You can reactivate anytime.\n\nQ: What is your uptime guarantee?\nA: 99.9% uptime for all paid plans. If uptime falls below this threshold in any calendar month, affected users automatically receive a prorated account credit.\n\nQ: Can I export my data?\nA: Yes, go to Settings > Data > Export. You can download all your data in CSV or JSON format. Data exports are available for 7 days after generation. We support GDPR data portability requests.\n\nQ: Do you offer team plans?\nA: Yes, team plans start at 5 users with centralized billing and admin controls. Teams of 10+ get volume pricing. Contact sales@datalearn.com for custom enterprise plans.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-620, 60],
      "id": "a0a0a0a0-0003-4000-a000-000000000003",
      "name": "FAQ Data"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "faq_store",
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [-300, 60],
      "id": "a0a0a0a0-0004-4000-a000-000000000004",
      "name": "Vector Store — Insert FAQ"
    },
    {
      "parameters": {
        "modelName": "text-embedding-004",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [-440, 280],
      "id": "a0a0a0a0-0005-4000-a000-000000000005",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [-200, 280],
      "id": "a0a0a0a0-0006-4000-a000-000000000006",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 100
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [-200, 460],
      "id": "a0a0a0a0-0007-4000-a000-000000000007",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "a0a0a0a0-0008-4000-a000-000000000008",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [200, 60],
      "webhookId": "rag-faq-bot-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful FAQ assistant for DataLearn.\n\nRules:\n- ALWAYS search the FAQ knowledge base before answering.\n- Answer ONLY based on the information found in the FAQ.\n- If the FAQ does not contain the answer, say: \"I don't have that information in our FAQ. Please contact support@datalearn.com.\"\n- Keep answers concise and friendly.\n- Do not make up information."
        }
      },
      "id": "a0a0a0a0-0009-4000-a000-000000000009",
      "name": "AI Agent — FAQ Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [520, 60],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output-field-001",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a0a0a0a0-0010-4000-a000-000000000010",
      "name": "Output — Chat Response",
      "type": "n8n-nodes-base.set",
      "position": [820, 60],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a0a0a0a0-0011-4000-a000-000000000011",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [400, 280],
      "typeVersion": 1
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "a0a0a0a0-0012-4000-a000-000000000012",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [200, 280],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "memoryKey": "faq_store",
        "toolDescription": "FAQ knowledge base about DataLearn company policies, pricing, support, and features. Use this to answer any customer question."
      },
      "id": "a0a0a0a0-0013-4000-a000-000000000013",
      "name": "Vector Store — Search FAQ",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [640, 280],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "text-embedding-004",
        "options": {}
      },
      "id": "a0a0a0a0-0014-4000-a000-000000000014",
      "name": "Embeddings Google Gemini1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [640, 460],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Load FAQ (run first)": {
      "main": [
        [
          {
            "node": "FAQ Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Data": {
      "main": [
        [
          {
            "node": "Vector Store — Insert FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store — Insert FAQ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store — Insert FAQ",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent — FAQ Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — FAQ Assistant": {
      "main": [
        [
          {
            "node": "Output — Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — FAQ Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent — FAQ Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store — Search FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — FAQ Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store — Search FAQ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "rag-faq-bot-v1",
  "meta": {
    "instanceId": "rag-course-example"
  },
  "id": "rag-faq-bot",
  "tags": []
}
