courses/n8n_no_code/book/_static/workflows/14_rag_faq_bot.json
{
  "name": "14 — RAG Document Chat",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/09_rag.html#hands-on-document-chat-with-rag)\n## RAG Document Chat\n\n**Goal:** Upload a PDF and chat with its contents. The bot answers ONLY from the document.\n\n### Credentials needed\n- **OpenRouter API key** (for the chat model)\n- **Google Gemini API key** (for embeddings) — free from [ai.google.dev](https://ai.google.dev)\n\n### How to use\n1. Open the **Form Trigger URL** (shown in the node) and upload a PDF\n2. Then click the **Chat** button to ask questions\n3. Data resets when n8n restarts (in-memory)\n\n### Sample PDF\nUpload the DataLearn Employee Handbook:\n`https://raw.githubusercontent.com/ezponda/ai-agents-course/main/courses/n8n_no_code/book/_static/data/datalearn_employee_handbook.pdf`\n\n### Try these questions\n1. `What is the remote work policy?`\n2. `How many vacation days do I get?`\n3. `What is the best pizza in Madrid?` (not in document — should say it doesn't know)",
        "height": 380,
        "width": 780,
        "color": 4
      },
      "id": "a0a0a0a0-0001-4000-a000-000000000001",
      "name": "NOTE — RAG Document Chat",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-880, -380],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Upload Document",
        "formDescription": "Upload a PDF or text file to create a searchable knowledge base.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Document",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.txt,.md",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWith": "text",
          "formSubmittedText": "Document uploaded and indexed successfully! You can now open the Chat in n8n to ask questions."
        }
      },
      "id": "a0a0a0a0-0002-4000-a000-000000000002",
      "name": "Upload Document (Form)",
      "type": "n8n-nodes-base.formTrigger",
      "position": [-860, 60],
      "webhookId": "rag-doc-upload-form",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "doc_store",
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1,
      "position": [-460, 60],
      "id": "a0a0a0a0-0004-4000-a000-000000000004",
      "name": "Vector Store — Insert"
    },
    {
      "parameters": {
        "modelName": "text-embedding-004",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [-600, 280],
      "id": "a0a0a0a0-0005-4000-a000-000000000005",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [-360, 280],
      "id": "a0a0a0a0-0006-4000-a000-000000000006",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 100
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [-360, 460],
      "id": "a0a0a0a0-0007-4000-a000-000000000007",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "a0a0a0a0-0008-4000-a000-000000000008",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [80, 60],
      "webhookId": "rag-doc-chat-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful document assistant.\n\nRules:\n- ALWAYS search the document knowledge base before answering.\n- Answer ONLY based on the information found in the uploaded document.\n- If the document does not contain the answer, say: \"I don't have that information in the uploaded document.\"\n- Keep answers concise and friendly.\n- Do not make up information."
        }
      },
      "id": "a0a0a0a0-0009-4000-a000-000000000009",
      "name": "AI Agent — Document Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [400, 60],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output-field-001",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a0a0a0a0-0010-4000-a000-000000000010",
      "name": "Output — Chat Response",
      "type": "n8n-nodes-base.set",
      "position": [700, 60],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "a0a0a0a0-0011-4000-a000-000000000011",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [280, 280],
      "typeVersion": 1
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "a0a0a0a0-0012-4000-a000-000000000012",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [80, 280],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "memoryKey": "doc_store",
        "toolDescription": "Knowledge base containing the uploaded document. Use this to answer any question about the document content."
      },
      "id": "a0a0a0a0-0013-4000-a000-000000000013",
      "name": "Vector Store — Search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [520, 280],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "text-embedding-004",
        "options": {}
      },
      "id": "a0a0a0a0-0014-4000-a000-000000000014",
      "name": "Embeddings Google Gemini1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [520, 460],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Upload Document (Form)": {
      "main": [
        [
          {
            "node": "Vector Store — Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store — Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Vector Store — Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent — Document Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Document Assistant": {
      "main": [
        [
          {
            "node": "Output — Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Document Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent — Document Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store — Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Document Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store — Search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "rag-doc-chat-v2",
  "meta": {
    "instanceId": "rag-course-example"
  },
  "id": "rag-doc-chat",
  "tags": []
}
