courses/n8n_no_code/book/_static/workflows/20_cancel_appointment_subworkflow.json
{
 "name": "07b — cancel_appointment (safe sub-workflow)",
 "nodes": [
  {
   "parameters": {
    "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/07b_reliable_tools_and_subworkflows.html)\n## cancel_appointment — a safe sub-workflow\n**Goal:** The deterministic half of a cancel tool. Explicit inputs → validate → confirm the appointment exists → check the caller **owns** it → write → return `{status, message}` on **every** path.\n\n### Inputs (from the caller)\n`customer_id` (from a trusted identity source — see the course page), `appointment_id`, `action` (only `cancel` is accepted).\n\n### Returns\n`ok` · `denied` · `not_found` · `invalid` — always `{status, message}`.\n\n### Setup\nData Table `appointments`: `id`, `date`, `time`, `service`, `client_name`, `customer_id`, `status`.\n\n⚠️ **Educational.** The find-then-write is **not** concurrency-safe — see Production Reliability for atomic writes.\n⚠️ **Verify the no-match path:** *Find appointment* has **Always Output Data ON** so the *not_found* branch runs when no row matches — confirm in your n8n version.",
    "height": 400,
    "width": 700
   },
   "id": "20000000-0000-4000-8000-0000000000s1",
   "name": "NOTE",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    -1360,
    -320
   ]
  },
  {
   "parameters": {
    "inputSource": "workflowInputs",
    "workflowInputs": {
     "values": [
      {
       "name": "customer_id",
       "type": "string"
      },
      {
       "name": "appointment_id",
       "type": "string"
      },
      {
       "name": "action",
       "type": "string"
      }
     ]
    }
   },
   "id": "20000000-0000-4000-8000-000000000001",
   "name": "When called",
   "type": "n8n-nodes-base.executeWorkflowTrigger",
   "typeVersion": 1.1,
   "position": [
    -1340,
    60
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "id": "54849",
       "leftValue": "={{ $json.customer_id }}",
       "rightValue": "",
       "operator": {
        "type": "string",
        "operation": "notEmpty",
        "singleValue": true
       }
      },
      {
       "id": "52431",
       "leftValue": "={{ $json.appointment_id }}",
       "rightValue": "",
       "operator": {
        "type": "string",
        "operation": "notEmpty",
        "singleValue": true
       }
      }
     ],
     "combinator": "and"
    }
   },
   "id": "20000000-0000-4000-8000-000000000002",
   "name": "Required fields present?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    -1120,
    60
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "id": "71096",
       "leftValue": "={{ $json.action }}",
       "rightValue": "cancel",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    }
   },
   "id": "20000000-0000-4000-8000-000000000003",
   "name": "Action allowed?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    -880,
    -20
   ]
  },
  {
   "parameters": {
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "name",
     "value": "appointments"
    },
    "filters": {
     "conditions": [
      {
       "keyName": "id",
       "condition": "eq",
       "keyValue": "={{ $('When called').item.json.appointment_id }}"
      }
     ]
    },
    "options": {}
   },
   "id": "20000000-0000-4000-8000-000000000004",
   "name": "Find appointment",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1,
   "position": [
    -640,
    -100
   ],
   "alwaysOutputData": true
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "id": "85946",
       "leftValue": "={{ $json.id }}",
       "rightValue": "",
       "operator": {
        "type": "string",
        "operation": "notEmpty",
        "singleValue": true
       }
      }
     ],
     "combinator": "and"
    }
   },
   "id": "20000000-0000-4000-8000-000000000005",
   "name": "Appointment found?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    -420,
    -100
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "id": "own",
       "leftValue": "={{ $json.customer_id }}",
       "rightValue": "={{ $('When called').item.json.customer_id }}",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    }
   },
   "id": "20000000-0000-4000-8000-000000000006",
   "name": "Caller owns it?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    -200,
    -180
   ]
  },
  {
   "parameters": {
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "name",
     "value": "appointments"
    },
    "filters": {
     "conditions": [
      {
       "keyName": "id",
       "condition": "eq",
       "keyValue": "={{ $('When called').item.json.appointment_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "status": "cancelled"
     },
     "matchingColumns": [],
     "schema": []
    },
    "options": {}
   },
   "id": "20000000-0000-4000-8000-000000000007",
   "name": "Apply change (cancel)",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1,
   "position": [
    40,
    -260
   ]
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "s1",
       "name": "status",
       "type": "string",
       "value": "ok"
      },
      {
       "id": "s2",
       "name": "message",
       "type": "string",
       "value": "=Appointment {{ $('When called').item.json.appointment_id }} was cancelled."
      }
     ]
    },
    "options": {}
   },
   "id": "20000000-0000-4000-8000-000000000008",
   "name": "Return: done",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    280,
    -260
   ]
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "s1",
       "name": "status",
       "type": "string",
       "value": "denied"
      },
      {
       "id": "s2",
       "name": "message",
       "type": "string",
       "value": "That appointment does not belong to this customer."
      }
     ]
    },
    "options": {}
   },
   "id": "20000000-0000-4000-8000-000000000009",
   "name": "Return: denied",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    40,
    -80
   ]
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "s1",
       "name": "status",
       "type": "string",
       "value": "not_found"
      },
      {
       "id": "s2",
       "name": "message",
       "type": "string",
       "value": "No appointment was found with that id."
      }
     ]
    },
    "options": {}
   },
   "id": "20000000-0000-4000-8000-000000000010",
   "name": "Return: not_found",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    -200,
    20
   ]
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "s1",
       "name": "status",
       "type": "string",
       "value": "invalid"
      },
      {
       "id": "s2",
       "name": "message",
       "type": "string",
       "value": "Unsupported action. Only 'cancel' is accepted."
      }
     ]
    },
    "options": {}
   },
   "id": "20000000-0000-4000-8000-000000000011",
   "name": "Return: invalid (action)",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    -660,
    120
   ]
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "s1",
       "name": "status",
       "type": "string",
       "value": "invalid"
      },
      {
       "id": "s2",
       "name": "message",
       "type": "string",
       "value": "customer_id and appointment_id are both required."
      }
     ]
    },
    "options": {}
   },
   "id": "20000000-0000-4000-8000-000000000012",
   "name": "Return: invalid (missing)",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    -900,
    200
   ]
  }
 ],
 "connections": {
  "When called": {
   "main": [
    [
     {
      "node": "Required fields present?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Required fields present?": {
   "main": [
    [
     {
      "node": "Action allowed?",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Return: invalid (missing)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Action allowed?": {
   "main": [
    [
     {
      "node": "Find appointment",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Return: invalid (action)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Find appointment": {
   "main": [
    [
     {
      "node": "Appointment found?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Appointment found?": {
   "main": [
    [
     {
      "node": "Caller owns it?",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Return: not_found",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Caller owns it?": {
   "main": [
    [
     {
      "node": "Apply change (cancel)",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Return: denied",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Apply change (cancel)": {
   "main": [
    [
     {
      "node": "Return: done",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1"
 },
 "meta": {
  "templateCredsSetupCompleted": false
 },
 "tags": []
}
