courses/n8n_no_code/book/_static/workflows/21_agent_cancels_via_tool.json
{
 "name": "07b — Agent cancels via safe tool",
 "nodes": [
  {
   "parameters": {
    "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/07b_reliable_tools_and_subworkflows.html)\n## Agent → safe tool (approval-ready)\n**Goal:** One high-level, safe tool. The agent collects details and calls **cancel_appointment** (the sub-workflow). The model fills `appointment_id`; `action` is fixed to `cancel`; **`customer_id` comes from a trusted identity source — never the model.**\n\n### Identity ⚠️\n`customer_id` is mapped to `{{ $json.sessionId }}` here **only as a demo**. In production, derive it server-side from a **verified** identity (validated token, trusted app, CRM, authenticated channel) — the ownership check is only meaningful when this value is trustworthy.\n\n### Make it require human review (n8n 2.6+)\nThis workflow is **approval-ready** but has no review channel wired yet. To add one: open the AI Agent's **tool connector → Tools Panel → add Human Review → choose a review channel (Slack/Telegram/Gmail/Chat) → connect the gated tool to it.**",
    "height": 400,
    "width": 660
   },
   "id": "21000000-0000-4000-8000-0000000000s1",
   "name": "NOTE",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    -1200,
    -340
   ]
  },
  {
   "parameters": {
    "options": {}
   },
   "id": "21000000-0000-4000-8000-000000000001",
   "name": "When chat message received",
   "type": "@n8n/n8n-nodes-langchain.chatTrigger",
   "typeVersion": 1.1,
   "position": [
    -1160,
    60
   ]
  },
  {
   "parameters": {
    "promptType": "define",
    "text": "={{ $json.chatInput }}",
    "options": {
     "systemMessage": "You help a customer cancel their salon appointment.\n\nRules:\n- To cancel, call the cancel_appointment tool with the appointment_id.\n- ALWAYS repeat the details back and get an explicit 'yes' before calling the tool.\n- You do NOT decide who the customer is. Identity (customer_id) is provided by the system, never by you or the user.\n- Read the tool's returned status: 'ok' (done), 'denied' (not their appointment), 'not_found' (bad id), 'invalid' (bad request). Explain it plainly; do not retry with different ids."
    }
   },
   "id": "21000000-0000-4000-8000-000000000002",
   "name": "Salon Assistant",
   "type": "@n8n/n8n-nodes-langchain.agent",
   "typeVersion": 3,
   "position": [
    -900,
    60
   ]
  },
  {
   "parameters": {
    "model": "openai/gpt-4o-mini",
    "options": {}
   },
   "id": "21000000-0000-4000-8000-000000000003",
   "name": "OpenRouter Chat Model",
   "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
   "typeVersion": 1,
   "position": [
    -980,
    260
   ]
  },
  {
   "parameters": {
    "sessionIdType": "customKey",
    "sessionKey": "={{ $json.sessionId }}",
    "contextWindowLength": 10
   },
   "id": "21000000-0000-4000-8000-000000000004",
   "name": "Simple Memory",
   "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
   "typeVersion": 1.3,
   "position": [
    -820,
    260
   ]
  },
  {
   "parameters": {
    "name": "cancel_appointment",
    "description": "Cancel a salon appointment. Provide the appointment_id. customer_id and action are supplied by the system.",
    "workflowId": {
     "__rl": true,
     "mode": "list",
     "value": "",
     "cachedResultName": "07b — cancel_appointment (safe sub-workflow)"
    },
    "workflowInputs": {
     "mappingMode": "defineBelow",
     "value": {
      "customer_id": "={{ $json.sessionId }}",
      "appointment_id": "={{ $fromAI('appointment_id','The id of the appointment to cancel','string') }}",
      "action": "cancel"
     },
     "matchingColumns": [],
     "schema": []
    }
   },
   "id": "21000000-0000-4000-8000-000000000005",
   "name": "cancel_appointment (tool)",
   "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
   "typeVersion": 2.2,
   "position": [
    -640,
    260
   ]
  }
 ],
 "connections": {
  "When chat message received": {
   "main": [
    [
     {
      "node": "Salon Assistant",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "OpenRouter Chat Model": {
   "ai_languageModel": [
    [
     {
      "node": "Salon Assistant",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  },
  "Simple Memory": {
   "ai_memory": [
    [
     {
      "node": "Salon Assistant",
      "type": "ai_memory",
      "index": 0
     }
    ]
   ]
  },
  "cancel_appointment (tool)": {
   "ai_tool": [
    [
     {
      "node": "Salon Assistant",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1"
 },
 "meta": {
  "templateCredsSetupCompleted": false
 },
 "tags": []
}
