courses/n8n_no_code/book/_static/workflows/22_rag_evaluation.json
{
 "name": "09b — RAG Evaluation",
 "nodes": [
  {
   "parameters": {
    "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/09b_testing_and_evaluating_ai_workflows.html)\n## Evaluating a RAG workflow\n**Goal:** Run the RAG assistant against a fixed **test dataset** (Data Table `rag_eval_cases`) — one row per case — and score it with **valid** metrics: a per-case `case_passed`, plus a separate `retrieval_hit` for the retrieval branch.\n\n### Two parts\n1. **Ingest (top):** upload the handbook once so the store is filled.\n2. **Evaluate (bottom):** trigger → map row → **two branches** (answer via the agent, retrieval via a direct vector-store query) → merge → score → metrics.\n\n⚠️ **Re-index first** (in-memory store). ⚠️ **No shared memory** (each row independent). ⚠️ `retrieval_hit` is meaningful only on rows with `expected_retrieval_contains`; read it filtered to those rows. ⚠️ Evaluation / vector-store `load` node labels vary by n8n version — verify in your UI.",
    "height": 380,
    "width": 680
   },
   "id": "22000000-0000-4000-8000-0000000000s1",
   "name": "NOTE",
   "type": "n8n-nodes-base.stickyNote",
   "typeVersion": 1,
   "position": [
    -1340,
    -540
   ]
  },
  {
   "parameters": {
    "formTitle": "Upload Document",
    "formDescription": "Upload a PDF or text file to create a searchable knowledge base.",
    "formFields": {
     "values": [
      {
       "fieldLabel": "Document",
       "fieldType": "file",
       "acceptFileTypes": ".pdf,.txt,.md",
       "requiredField": true
      }
     ]
    },
    "options": {
     "respondWith": "text",
     "formSubmittedText": "Document uploaded and indexed successfully! You can now open the Chat in n8n to ask questions."
    }
   },
   "id": "22000000-0000-4000-8000-000000000010",
   "name": "Upload Document (Form)",
   "type": "n8n-nodes-base.formTrigger",
   "position": [
    -1320,
    -320
   ],
   "webhookId": "rag-doc-upload-form",
   "typeVersion": 2.2
  },
  {
   "parameters": {
    "mode": "insert",
    "memoryKey": "doc_store",
    "clearStore": true
   },
   "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
   "typeVersion": 1,
   "position": [
    -1080,
    -320
   ],
   "id": "22000000-0000-4000-8000-000000000011",
   "name": "Vector Store — Insert"
  },
  {
   "parameters": {
    "modelName": "text-embedding-004",
    "options": {}
   },
   "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
   "typeVersion": 1,
   "position": [
    -1080,
    -140
   ],
   "id": "22000000-0000-4000-8000-000000000012",
   "name": "Embeddings Google Gemini"
  },
  {
   "parameters": {
    "dataType": "binary",
    "options": {}
   },
   "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
   "typeVersion": 1,
   "position": [
    -920,
    -140
   ],
   "id": "22000000-0000-4000-8000-000000000013",
   "name": "Default Data Loader"
  },
  {
   "parameters": {
    "chunkSize": 400,
    "chunkOverlap": 100
   },
   "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
   "typeVersion": 1,
   "position": [
    -760,
    -140
   ],
   "id": "22000000-0000-4000-8000-000000000014",
   "name": "Recursive Character Text Splitter"
  },
  {
   "parameters": {
    "source": "dataTable",
    "dataTableId": {
     "__rl": true,
     "mode": "name",
     "value": "rag_eval_cases"
    },
    "limitRows": false,
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000030",
   "name": "Run test cases",
   "type": "n8n-nodes-base.evaluationTrigger",
   "typeVersion": 4.6,
   "position": [
    -1320,
    140
   ]
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "m1",
       "name": "chatInput",
       "type": "string",
       "value": "={{ $json.question }}"
      }
     ]
    },
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000031",
   "name": "Map row → input",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    -1080,
    140
   ]
  },
  {
   "parameters": {
    "promptType": "define",
    "text": "={{ $json.chatInput }}",
    "options": {
     "systemMessage": "You are a helpful document assistant.\n\nRules:\n- ALWAYS search the document knowledge base before answering.\n- Answer ONLY based on the information found in the uploaded document.\n- If the document does not contain the answer, say: \"I don't have that information in the uploaded document.\"\n- Keep answers concise and friendly.\n- Do not make up information."
    }
   },
   "id": "22000000-0000-4000-8000-000000000020",
   "name": "AI Agent — Document Assistant",
   "type": "@n8n/n8n-nodes-langchain.agent",
   "position": [
    -620,
    140
   ],
   "typeVersion": 3
  },
  {
   "parameters": {
    "model": "openai/gpt-4o-mini",
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000021",
   "name": "OpenRouter Chat Model",
   "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
   "position": [
    -700,
    340
   ],
   "typeVersion": 1
  },
  {
   "parameters": {
    "mode": "retrieve-as-tool",
    "memoryKey": "doc_store",
    "toolDescription": "Knowledge base containing the uploaded document. Use this to answer any question about the document content."
   },
   "id": "22000000-0000-4000-8000-000000000022",
   "name": "Vector Store — Search",
   "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
   "position": [
    -460,
    340
   ],
   "typeVersion": 1
  },
  {
   "parameters": {
    "modelName": "text-embedding-004",
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000023",
   "name": "Embeddings Google Gemini1",
   "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
   "position": [
    -460,
    520
   ],
   "typeVersion": 1
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "a1",
       "name": "case_passed",
       "type": "number",
       "value": "={{ $('Run test cases').item.json.should_refuse == 'yes'  ? ( $json.output.toLowerCase().includes(\"i don't have that information\") ? 1 : 0 )  : ( ( !$json.output.toLowerCase().includes(\"i don't have that information\") )      && ( !$('Run test cases').item.json.expected_contains           || $json.output.toLowerCase().includes(($('Run test cases').item.json.expected_contains + '').toLowerCase()) )      ? 1 : 0 ) }}"
      }
     ]
    },
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000032",
   "name": "Score answer",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    -360,
    140
   ]
  },
  {
   "parameters": {
    "mode": "load",
    "memoryKey": "doc_store",
    "prompt": "={{ $json.chatInput }}",
    "topK": 4
   },
   "id": "22000000-0000-4000-8000-000000000040",
   "name": "Retrieve chunks",
   "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
   "typeVersion": 1,
   "position": [
    -760,
    600
   ]
  },
  {
   "parameters": {},
   "id": "22000000-0000-4000-8000-000000000041",
   "name": "Embeddings (retrieval)",
   "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
   "typeVersion": 1,
   "position": [
    -760,
    780
   ]
  },
  {
   "parameters": {
    "aggregate": "aggregateAllItemData",
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000042",
   "name": "Aggregate chunks",
   "type": "n8n-nodes-base.aggregate",
   "typeVersion": 1,
   "position": [
    -540,
    600
   ]
  },
  {
   "parameters": {
    "assignments": {
     "assignments": [
      {
       "id": "r1",
       "name": "retrieval_hit",
       "type": "number",
       "value": "={{ $('Run test cases').item.json.expected_retrieval_contains  ? ( JSON.stringify($json.data).toLowerCase().includes(($('Run test cases').item.json.expected_retrieval_contains + '').toLowerCase()) ? 1 : 0 )  : null }}"
      }
     ]
    },
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000043",
   "name": "Score retrieval",
   "type": "n8n-nodes-base.set",
   "typeVersion": 3.4,
   "position": [
    -360,
    600
   ]
  },
  {
   "parameters": {
    "mode": "combine",
    "combineBy": "combineByPosition",
    "options": {}
   },
   "id": "22000000-0000-4000-8000-000000000050",
   "name": "Merge answer + retrieval",
   "type": "n8n-nodes-base.merge",
   "typeVersion": 3.2,
   "position": [
    -120,
    340
   ]
  },
  {
   "parameters": {
    "operation": "setMetrics",
    "metrics": {
     "assignments": [
      {
       "id": "e1",
       "name": "case_passed",
       "type": "number",
       "value": "={{ $json.case_passed }}"
      },
      {
       "id": "e2",
       "name": "retrieval_hit",
       "type": "number",
       "value": "={{ $json.retrieval_hit }}"
      }
     ]
    }
   },
   "id": "22000000-0000-4000-8000-000000000051",
   "name": "Record metrics",
   "type": "n8n-nodes-base.evaluation",
   "typeVersion": 4.6,
   "position": [
    120,
    340
   ]
  }
 ],
 "connections": {
  "Upload Document (Form)": {
   "main": [
    [
     {
      "node": "Vector Store — Insert",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Embeddings Google Gemini": {
   "ai_embedding": [
    [
     {
      "node": "Vector Store — Insert",
      "type": "ai_embedding",
      "index": 0
     }
    ]
   ]
  },
  "Default Data Loader": {
   "ai_document": [
    [
     {
      "node": "Vector Store — Insert",
      "type": "ai_document",
      "index": 0
     }
    ]
   ]
  },
  "Recursive Character Text Splitter": {
   "ai_textSplitter": [
    [
     {
      "node": "Default Data Loader",
      "type": "ai_textSplitter",
      "index": 0
     }
    ]
   ]
  },
  "Run test cases": {
   "main": [
    [
     {
      "node": "Map row → input",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Map row → input": {
   "main": [
    [
     {
      "node": "AI Agent — Document Assistant",
      "type": "main",
      "index": 0
     },
     {
      "node": "Retrieve chunks",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "OpenRouter Chat Model": {
   "ai_languageModel": [
    [
     {
      "node": "AI Agent — Document Assistant",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  },
  "Vector Store — Search": {
   "ai_tool": [
    [
     {
      "node": "AI Agent — Document Assistant",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "Embeddings Google Gemini1": {
   "ai_embedding": [
    [
     {
      "node": "Vector Store — Search",
      "type": "ai_embedding",
      "index": 0
     }
    ]
   ]
  },
  "Embeddings (retrieval)": {
   "ai_embedding": [
    [
     {
      "node": "Retrieve chunks",
      "type": "ai_embedding",
      "index": 0
     }
    ]
   ]
  },
  "AI Agent — Document Assistant": {
   "main": [
    [
     {
      "node": "Score answer",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Retrieve chunks": {
   "main": [
    [
     {
      "node": "Aggregate chunks",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Aggregate chunks": {
   "main": [
    [
     {
      "node": "Score retrieval",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Score answer": {
   "main": [
    [
     {
      "node": "Merge answer + retrieval",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Score retrieval": {
   "main": [
    [
     {
      "node": "Merge answer + retrieval",
      "type": "main",
      "index": 1
     }
    ]
   ]
  },
  "Merge answer + retrieval": {
   "main": [
    [
     {
      "node": "Record metrics",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "active": false,
 "settings": {
  "executionOrder": "v1"
 },
 "meta": {
  "templateCredsSetupCompleted": false
 },
 "tags": []
}
