courses/n8n_no_code/book/_static/workflows/going_live_error.json
{
  "name": "Error Notifier",
  "nodes": [
    {
      "parameters": {
        "content": "📖 [Course documentation](https://ezponda.github.io/ai-agents-course/appendix_b_going_live.html#error-workflow-get-notified-when-something-breaks)\n## Error Notifier\n**Goal:** Get notified when any workflow fails.\n\n**How it works:** Link this workflow in another workflow's Settings → Error Workflow. When that workflow fails, this one runs automatically.\n\n**In production:** Replace the Output node with Slack, Email, or Discord to get real notifications.",
        "height": 260,
        "width": 760,
        "color": 1
      },
      "id": "c1b2c3d4-0001-4000-8000-000000000001",
      "name": "NOTE — Error Notifier",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -320
      ]
    },
    {
      "parameters": {},
      "id": "c1b2c3d4-0002-4000-8000-000000000002",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        640,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1b2c3d4-0003-4000-8000-000000000003",
              "name": "workflow_name",
              "type": "string",
              "value": "={{ $json.execution.workflowData.name }}"
            },
            {
              "id": "c1b2c3d4-0004-4000-8000-000000000004",
              "name": "error_message",
              "type": "string",
              "value": "={{ $json.execution.error.message }}"
            },
            {
              "id": "c1b2c3d4-0005-4000-8000-000000000005",
              "name": "failed_at",
              "type": "string",
              "value": "={{ $json.execution.startedAt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0006-4000-8000-000000000006",
      "name": "Format Error Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1b2c3d4-0007-4000-8000-000000000007",
              "name": "workflow_name",
              "type": "string",
              "value": "={{ $json.workflow_name }}"
            },
            {
              "id": "c1b2c3d4-0008-4000-8000-000000000008",
              "name": "error_message",
              "type": "string",
              "value": "={{ $json.error_message }}"
            },
            {
              "id": "c1b2c3d4-0009-4000-8000-000000000009",
              "name": "failed_at",
              "type": "string",
              "value": "={{ $json.failed_at }}"
            }
          ]
        },
        "keepOnlySet": true,
        "options": {}
      },
      "id": "c1b2c3d4-0010-4000-8000-000000000010",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        -60
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Info": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
