courses/n8n_no_code/tips_videos/expanded_workflows/01_prompt_chaining_telegram.json
{
  "name": "01 — Prompt Chaining (Telegram Bot)",
  "nodes": [
    {
      "parameters": {
        "content": "## Prompt Chaining — Telegram Bot\n**Goal:** A Telegram bot that takes a dish name, searches TheMealDB, and returns a kid-friendly recipe with shopping list.\n\n**Setup:**\n1. Create a Telegram bot via @BotFather\n2. Add the Telegram credential in n8n\n3. Make n8n accessible from internet (ngrok or n8n Cloud)\n4. Activate this workflow\n5. Share `t.me/YOUR_BOT_USERNAME` with students\n\n**How to use:** Send a dish name (in English) to the bot.",
        "height": 280,
        "width": 700,
        "color": 3
      },
      "id": "ff000001-0001-4000-f000-000000000001",
      "name": "NOTE — Telegram Bot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1080, -520]
    },
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "ff000001-0001-4000-f000-000000000002",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-1000, -200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.themealdb.com/api/json/v1/1/search.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "s",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff000001-0001-4000-f000-000000000003",
      "name": "HTTP Request (TheMealDB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-780, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.meals }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff000001-0001-4000-f000-000000000004",
      "name": "Check Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-560, -200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff000001-assign-0001",
              "name": "recipe_name",
              "type": "string",
              "value": "={{ $json.meals[0].strMeal }}"
            },
            {
              "id": "ff000001-assign-0002",
              "name": "recipe",
              "type": "string",
              "value": "={{ $json.meals[0].strInstructions }}"
            },
            {
              "id": "ff000001-assign-0003",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $node['Telegram Trigger'].json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff000001-0001-4000-f000-000000000005",
      "name": "Input — Recipe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-320, -340]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "ff000001-0001-4000-f000-000000000006",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-200, 40]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Recipe: {{ $json.recipe_name }}\n\n{{ $json.recipe }}\n\nSimplify this recipe for a beginner cook.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a cooking instructor for beginners.\nSimplify the recipe into clear, easy-to-follow steps.\n\nRules:\n- Use simple language (no cooking jargon)\n- Explain any technique briefly (e.g., \"sauté\" → \"cook in a pan, stirring often\")\n- Keep all original ingredients\n- Number every step clearly\n- Output ONLY the simplified recipe\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "ff000001-0001-4000-f000-000000000007",
      "name": "Step 1 — Simplify Recipe",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [-80, -340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff000001-assign-0004",
              "name": "simplified_recipe",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff000001-0001-4000-f000-000000000008",
      "name": "Store Simplified Recipe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [160, -340]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Simplified recipe:\n{{ $json.simplified_recipe }}\n\nAdapt this for kids.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a family cooking expert.\nAdapt the simplified recipe so it is fun and safe for kids aged 5–10 to help make.\n\nRules:\n- Suggest milder alternatives for strong flavors (e.g., less garlic, skip pepper)\n- Add fun names for steps (e.g., \"Squish the cheese mix!\")\n- Flag any step that needs adult help (hot oven, sharp knives)\n- Adjust portions for a family with kids\n- Output ONLY the kid-friendly recipe"
            }
          ]
        },
        "batching": {}
      },
      "id": "ff000001-0001-4000-f000-000000000009",
      "name": "Step 2 — Adapt for Kids",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [400, -340]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff000001-assign-0005",
              "name": "kid_friendly_recipe",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff000001-0001-4000-f000-000000000010",
      "name": "Store Kid-Friendly Recipe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, -340]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Recipe:\n{{ $json.kid_friendly_recipe }}\n\nCreate a shopping list.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a helpful shopping assistant.\nCreate a shopping list from the recipe.\n\nRules:\n- Group items by store section (Produce, Dairy, Meat, Pantry)\n- Include quantities\n- Skip items most kitchens already have (salt, pepper, olive oil)\n- Add a \"Check at home first\" section for common pantry items\n- Output ONLY the shopping list"
            }
          ]
        },
        "batching": {}
      },
      "id": "ff000001-0001-4000-f000-000000000011",
      "name": "Step 3 — Shopping List",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [880, -340]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Input — Recipe'].json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "ff000001-0001-4000-f000-000000000012",
      "name": "Reply — Recipe",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, -340]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Telegram Trigger'].json.message.chat.id }}",
        "text": "=I couldn't find a recipe for \"{{ $node['Telegram Trigger'].json.message.text }}\". Try a common dish name in English, like: chicken, lasagna, pasta, beef stew, pancakes.",
        "additionalFields": {}
      },
      "id": "ff000001-0001-4000-f000-000000000013",
      "name": "Reply — Not Found",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-320, -60]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request (TheMealDB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (TheMealDB)": {
      "main": [
        [
          {
            "node": "Check Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Results": {
      "main": [
        [
          {
            "node": "Input — Recipe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply — Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input — Recipe": {
      "main": [
        [
          {
            "node": "Step 1 — Simplify Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 — Simplify Recipe": {
      "main": [
        [
          {
            "node": "Store Simplified Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Simplified Recipe": {
      "main": [
        [
          {
            "node": "Step 2 — Adapt for Kids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 — Adapt for Kids": {
      "main": [
        [
          {
            "node": "Store Kid-Friendly Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Kid-Friendly Recipe": {
      "main": [
        [
          {
            "node": "Step 3 — Shopping List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3 — Shopping List": {
      "main": [
        [
          {
            "node": "Reply — Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Step 1 — Simplify Recipe",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Step 2 — Adapt for Kids",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Step 3 — Shopping List",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
