courses/n8n_no_code/tips_videos/expanded_workflows/06_ai_agent_travel_planner.json
{
  "name": "06 — AI Agent Travel Planner (Variation)",
  "nodes": [
    {
      "parameters": {
        "content": "## AI Agent — Travel Planner (Variation)\n\n**Goal:** Same workflow structure as the Salary Chat, but repurposed as a travel planning assistant. Demonstrates that changing the System Message transforms the agent's behavior completely.\n\n### Credentials needed\n- **OpenRouter API key** (Settings → Credentials)\n- **SerpAPI key** (Settings → Credentials) — free tier at [serpapi.com](https://serpapi.com)\n\n### What changed from Salary Chat\n- **System Message**: travel planner instead of salary researcher\n- **Agent name**: `AI Agent — Travel Planner`\n- **Wikipedia tool added**: for destination and cultural info\n- Everything else is identical (same model, memory, output pattern)\n\n### How to use\n1. Click **Chat** in the workflow UI\n2. Ask about destinations, budgets, or itineraries\n\n### Try these\n1. `I want to plan a 5-day trip to Lisbon from Madrid. What's a reasonable budget?`\n2. `What are the must-see attractions?`\n3. `Convert €500 to dollars and calculate daily budget for 5 days`\n4. `Tell me about the history of Lisbon`",
        "height": 400,
        "width": 880,
        "color": 3
      },
      "id": "bb060001-0001-4000-a000-000000000001",
      "name": "NOTE — Travel Planner",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-760, -420],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "bb060001-0002-4000-a000-000000000002",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [-760, 60],
      "webhookId": "bb060001-webhook-travel",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a travel planning assistant.\nBe concise and friendly.\nIf the user asks about destinations, flights, or hotels, search Google first.\nIf the user asks about a city, country, or landmark, check Wikipedia for background info.\nFor budget calculations (currency conversions, daily costs, total trip cost), use Calculator.\nUse Think to plan multi-step itineraries.\nIf the user asks you to remember preferences, store them in memory and confirm briefly.\nIf you don't know, say so. Do not invent prices."
        }
      },
      "id": "bb060001-0003-4000-a000-000000000003",
      "name": "AI Agent — Travel Planner",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [-420, 60],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb060001-out-001",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bb060001-0004-4000-a000-000000000004",
      "name": "Output — Chat Response",
      "type": "n8n-nodes-base.set",
      "position": [-120, 60],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "bb060001-0005-4000-a000-000000000005",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [-560, 280],
      "typeVersion": 1
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "bb060001-0006-4000-a000-000000000006",
      "name": "Simple Memory (10 messages)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [-760, 280],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "bb060001-0007-4000-a000-000000000007",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [-360, 280],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "bb060001-0008-4000-a000-000000000008",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [-160, 280],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "bb060001-0009-4000-a000-000000000009",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [40, 280],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "bb060001-0010-4000-a000-000000000010",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [240, 280],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent — Travel Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Travel Planner": {
      "main": [
        [
          {
            "node": "Output — Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Travel Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory (10 messages)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent — Travel Planner",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Travel Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Travel Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Travel Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Travel Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "travel-planner-v1",
  "meta": {
    "instanceId": "travel-planner-variation"
  },
  "id": "travel-planner-variation",
  "tags": []
}
