courses/n8n_no_code/01_intro_patterns/workflows/04_prompt_chaining_text_only.json
{
  "name": "Prompt Chaining - Meeting Notes Follow-up (Text Only)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "1c3e1b1b-2f7d-4c77-a8b6-6a7c9b2e8a01",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2ce2a7f-09b2-4fa1-9b5a-f3b0b1b2c001",
              "name": "notes",
              "value": "={{ $json.notes || \"PASTE MEETING NOTES HERE (bullet points are fine)\" }}",
              "type": "string"
            },
            {
              "id": "e8f7a9b1-1f7c-4d3a-9c0b-2a9f1b2c3d04",
              "name": "context",
              "value": "={{ $json.context || \"Context: internal meeting notes. Output must be accurate and must not invent details.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "id": "2d9e8c71-3b6e-4f7a-a2a2-2b8c9d0e1f02",
      "name": "Input Notes"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [220, 220],
      "id": "3b7d1a2c-4e5f-4a6b-8c9d-1e2f3a4b5c06",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are given messy meeting notes. Your job is to extract ONLY facts that are explicitly stated.\n\nRules:\n- Do NOT guess.\n- Do NOT add names, dates, numbers, or commitments that are not present.\n- If something is unclear, omit it.\n\nReturn STRICT JSON ONLY with this schema:\n{\n  \"facts\": [\"...\"],\n  \"people\": [\"...\"],\n  \"deadlines\": [\"...\"],\n  \"risks_or_concerns\": [\"...\"],\n  \"open_items_mentioned\": [\"...\"],\n  \"quotes\": [{\"quote\": \"...\", \"why_it_matters\": \"...\"}]\n}\n\nNo extra text. No markdown."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.context }}\n\nMEETING NOTES:\n{{ $json.notes }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [520, 0],
      "id": "4c8a9b0c-1d2e-4f3a-9b8c-0d1e2f3a4b05",
      "name": "Step 1 - Extract Facts (JSON)"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You will receive extracted facts in JSON. Your job is to identify what is missing to complete a professional follow-up.\n\nRules:\n- Do NOT invent missing details.\n- Ask only the minimum necessary questions.\n\nReturn STRICT JSON ONLY:\n{\n  \"missing_info\": [\"...\"],\n  \"clarifying_questions\": [\"...\"]\n}\n\nNo extra text. No markdown."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=FACTS JSON:\n{{ $('Step 1 - Extract Facts (JSON)').item.json.text }}\n\nORIGINAL NOTES:\n{{ $json.notes }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [820, 0],
      "id": "5d9b0c1d-2e3f-4a5b-8c9d-0e1f2a3b4c06",
      "name": "Step 2 - Flag Missing Info (JSON)"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You will receive extracted facts + missing info. Your job is to propose actionable next steps.\n\nRules:\n- Use ONLY the provided facts.\n- If owner or due date is not explicit, set it to \"TBD\".\n- Keep it practical and business-like.\n\nReturn STRICT JSON ONLY:\n{\n  \"next_steps\": [\n    {\"task\": \"...\", \"owner\": \"TBD\", \"due\": \"TBD\", \"reason\": \"...\"}\n  ]\n}\n\nNo extra text. No markdown."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=FACTS JSON:\n{{ $('Step 1 - Extract Facts (JSON)').item.json.text }}\n\nMISSING INFO JSON:\n{{ $('Step 2 - Flag Missing Info (JSON)').item.json.text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [1120, 0],
      "id": "6e0c1d2e-3f4a-4b5c-9d0e-1f2a3b4c5d07",
      "name": "Step 3 - Draft Next Steps (JSON)"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Write a friendly, professional follow-up email based ONLY on the inputs.\n\nRequirements:\n- Subject line\n- 3–6 bullet summary (facts only)\n- Next steps (as bullets)\n- Clarifying questions (if any)\n- No invented details\n\nOutput plain text ONLY."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=FACTS JSON:\n{{ $('Step 1 - Extract Facts (JSON)').item.json.text }}\n\nMISSING INFO JSON:\n{{ $('Step 2 - Flag Missing Info (JSON)').item.json.text }}\n\nNEXT STEPS JSON:\n{{ $('Step 3 - Draft Next Steps (JSON)').item.json.text }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [1420, 0],
      "id": "7f1d2e3f-4a5b-4c6d-8e9f-0a1b2c3d4e08",
      "name": "Step 4 - Draft Follow-up Email (Text)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c09",
              "name": "final_output",
              "value": "=FACTS (JSON):\n{{ $('Step 1 - Extract Facts (JSON)').item.json.text }}\n\nMISSING INFO (JSON):\n{{ $('Step 2 - Flag Missing Info (JSON)').item.json.text }}\n\nNEXT STEPS (JSON):\n{{ $('Step 3 - Draft Next Steps (JSON)').item.json.text }}\n\nFOLLOW-UP EMAIL:\n{{ $('Step 4 - Draft Follow-up Email (Text)').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1700, 0],
      "id": "9b3c4d5e-6f70-4a81-9b0c-1d2e3f4a5b0a",
      "name": "Package Output"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Input Notes", "type": "main", "index": 0 }
        ]
      ]
    },
    "Input Notes": {
      "main": [
        [
          { "node": "Step 1 - Extract Facts (JSON)", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          { "node": "Step 1 - Extract Facts (JSON)", "type": "ai_languageModel", "index": 0 },
          { "node": "Step 2 - Flag Missing Info (JSON)", "type": "ai_languageModel", "index": 0 },
          { "node": "Step 3 - Draft Next Steps (JSON)", "type": "ai_languageModel", "index": 0 },
          { "node": "Step 4 - Draft Follow-up Email (Text)", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Step 1 - Extract Facts (JSON)": {
      "main": [
        [
          { "node": "Step 2 - Flag Missing Info (JSON)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Step 2 - Flag Missing Info (JSON)": {
      "main": [
        [
          { "node": "Step 3 - Draft Next Steps (JSON)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Step 3 - Draft Next Steps (JSON)": {
      "main": [
        [
          { "node": "Step 4 - Draft Follow-up Email (Text)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Step 4 - Draft Follow-up Email (Text)": {
      "main": [
        [
          { "node": "Package Output", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}